# Mengabaikan folder virtual environment
venv/
TEST/
TRAIN/
model/

collect-data.ipynb
create-dataset.ipynb
inference-classifier.ipynb

# Mengabaikan file dan folder lain yang tidak perlu di commit
__pycache__/
*.pyc
*.pyo
*.pyd

# Mengabaikan file konfigurasi editor
.vscode/
.idea/

# Mengabaikan file database SQLite
*.sqlite3

# Mengabaikan file log dan cache
logs/
*.log
cache/