# Mengabaikan folder virtual environment
venv/
TEST/
TRAIN/
model-tuning/

model/rf_model_kfold_tn1_4.p


# Mengabaikan file dan folder lain yang tidak perlu di commit
__pycache__/
*.pyc
*.pyo
*.pyd

# Mengabaikan file konfigurasi editor
.vscode/
.idea/

# Mengabaikan file database SQLite
*.sqlite3

# Mengabaikan file log dan cache
logs/
*.log
cache/model/rf_model_kfold_tn1_4.p
