.bg-menu-theme .menu-inner > .menu-item.active:before,
.badge.text-bg-primary {  
    background: #3368C4 !important;
}

.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
    color: #3368C4 !important;
    background-color: #a0bbec30 !important;
}

.bg-menu-theme .menu-sub > .menu-item.active > .menu-link:not(.menu-toggle):before {
    background-color: #3368C4 !important;
    border: 3px solid #e7e7ff !important;
}

.app-brand .layout-menu-toggle {
    background-color: #3368C4 !important;
    border: 7px solid #f5f5f9;
}

/* Wrapper untuk membuat radio dan label sejajar */
.option-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Basic card style */
.option-card {
    border: 2px solid #dee2e6;
    border-radius: 8px;
    padding: 12px 16px;
    transition: border-color 0.2s, background-color 0.2s;
    cursor: pointer;
    background: #fff;
    flex: 1;
    user-select: none;
    /* transform: translateX(-3%); */
    margin-left: 0px;
    padding-left: 25px !important;
}

/* Margin antara pilihan */
.option-wrapper:not(:last-child) {
    margin-bottom: 12px;
}

/* Highlight pilihan yang dipilih */
input[type="radio"]:checked + .option-card {
    border-color: #3368C4 !important;
    background-color: #a0bbec30 !important;
    color: #3368C4 !important;
}

/* Style ketika radio fokus */
input[type="radio"]:focus + .option-card {
    border-color: #3368C4 !important;
    outline: none;
}

.form-check-input:checked, .form-check-input[type=checkbox]:indeterminate {
    background-color: #3368C4 !important;
    border-color: #3368C4 !important;
    box-shadow: 0 2px 4px 0 rgba(13, 110, 253, 0.4);
    /* box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4); */
}

.form-check-input[type=radio] {
    z-index: 999;
}

.soal-huruf {
    color: #b6bcc3;
    transition: color 0.3s; /* Add transition for smooth color change */
}