{% extends "layouts/main.html" %}

{% block content %}

{% set total_benar = (data_pg_jawaban | sum(attribute='isTrue')) + (data_interaktif_jawaban | sum(attribute='isTrue')) %}
{% set pg_benar = (data_pg_jawaban | sum(attribute='isTrue')) %}
{% set interaktif_benar = (data_interaktif_jawaban | sum(attribute='isTrue')) %}

{% set total_soal = (data_pg_jawaban | length) + (data_interaktif_jawaban | length) %}

{% set skor = ((total_benar / total_soal * 100) | round(0, 'floor')) %}
{% set skor_pg = ((data_pg_jawaban | sum(attribute='isTrue')) / (data_pg_jawaban | length) * 100 | round(0, 'floor')) %}
{% set skor_interaktif = "%0.0f" % ((data_interaktif_jawaban | sum(attribute='isTrue')) / (data_interaktif_jawaban | length) * 100 if (data_interaktif_jawaban | length) > 0 else 0 ) %}

<script>
    console.log("{{ skor_pg }} dan {{ skor }}")
</script>

<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y pb-0">
        <div class="row flex-column-reverse flex-md-row-reverse">
            <div class="col-lg-4 mb-4 order-0 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="row p-lg-4 h-100">
                        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2">
                            <div>
                                <div id="kuisInteraktif" value="{{ skor_interaktif }}"></div>
                            </div>
                            <div>
                                <h4 class="card-title text-center text-md-start lh-lg mb-md-2">Interaktif</h4>
                                <div class="d-flex flex-md-column gap-4 gap-md-2">
                                    <p class="m-md-0">
                                        <i class="menu-icon tf-icons bx bx-check-circle"></i>
                                        {{ interaktif_benar }} soal
                                    </p>
                                    <p class="m-md-0">
                                        <i class="menu-icon tf-icons bx bx-x-circle"></i>
                                        {{ data_interaktif_jawaban | length - interaktif_benar }} soal
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4 order-0 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="row p-lg-4 h-100">
                        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2">
                            <div>
                                <div id="kuisPg" value="{{ skor_pg }}"></div>
                            </div>
                            <div>
                                <h4 class="card-title text-center text-md-start lh-lg mb-md-2">Soal PG</h4>
                                <div class="d-flex flex-md-column gap-4 gap-md-2">
                                    <p class="m-md-0">
                                        <i class="menu-icon tf-icons bx bx-check-circle"></i>
                                        {{ pg_benar }} soal
                                    </p>
                                    <p class="m-md-0">
                                        <i class="menu-icon tf-icons bx bx-x-circle"></i>
                                        {{ data_pg_jawaban | length - pg_benar }} soal
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-4 order-0 d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="row p-lg-4 h-100">
                        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-2">
                            <div>
                                <div id="expensesOfWeek" value="{{ skor }}"></div>
                            </div>
                            <div>
                                <h4 class="card-title text-center text-md-start lh-lg mb-md-2">Total Skor</h4>
                                <div class="d-flex flex-md-column gap-4 gap-md-2">
                                    <p class="m-md-0">
                                        <i class="menu-icon tf-icons bx bx-check-circle"></i>
                                        {{ total_benar }} soal
                                    </p>
                                    <p class="m-md-0">
                                        <i class="menu-icon tf-icons bx bx-x-circle"></i>
                                        {{ total_soal - total_benar }} soal
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-xxl flex-grow-1">
        <!-- Striped Rows -->
        <div class="card">
            <h5 class="card-header"><i class="menu-icon tf-icons bx bx-edit"></i>Evaluasi Kuis PG</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                <thead align="center">
                    <tr>
                        <th>No.</th>
                        <th>Gambar Soal</th>
                        <th>Jawaban Benar</th>
                        <th>Jawaban Dipilih</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for jawaban in data_pg_jawaban %}
                    <tr align="center">
                        <td>{{ jawaban.id }}</td>
                        <td><img src="{{ url_for('static', filename=jawaban.gambar_soal) }}" alt="Gambar Soal" style="width: 50px;"></td>
                        <td>{{ jawaban.jawaban_benar }}</td>
                        <td>{{ jawaban.opsi_dipilih }}</td>
                        {% if jawaban.isTrue == 1 %}
                            <td><span class="badge bg-label-success me-1">Benar</span></td>
                        {% else %}
                            <td><span class="badge bg-label-danger me-1">Salah</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        <!--/ Striped Rows -->
    </div>

    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Striped Rows -->
        <div class="card">
            <h5 class="card-header"><i class="menu-icon tf-icons bx bx-edit"></i>Evaluasi Kuis Interaktif</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                <thead align="center">
                    <tr>
                        <th>No.</th>
                        <th>Jawaban Benar</th>
                        <th>Jawaban Dipilih</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for jawaban in data_interaktif_jawaban %}
                    <tr align="center">
                        <td>{{ jawaban.id }}</td>
                        <td>{{ jawaban.soal_huruf }}</td>
                        <td>{{ jawaban.jawaban }}</td>
                        {% if jawaban.isTrue == 1 %}
                            <td><span class="badge bg-label-success me-1">Benar</span></td>
                        {% else %}
                            <td><span class="badge bg-label-danger me-1">Salah</span></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        <!--/ Striped Rows -->
    </div>

    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
{% endblock content %}